<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(title, links)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title th:replace="${title}">Thymeleaf Application Page Title</title>

    <link rel="icon" th:href="@{/static/public/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/static/public/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.6.3/lib/theme-chalk/index.css">
    <th:block th:replace="${links}"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

</body>
</html>