<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Pagination -->
    <nav th:if="${page.totalPages != 1}" th:fragment="pagination">
        <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:each="p : ${#numbers.sequence(1, page.totalPages)}">
                <a class="page-link" th:text="${p}"
                   th:href="@{'/u/' + ${user.name} + '/blogs?pageNum=' + ${p} + '&pageSize=' + ${page.size}}">2</a>
            </li>

            <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>