<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.ivicel.web.dao.UserDao">
    <resultMap id="BaseResultMap" type="info.ivicel.web.entity.User">
        <!--<id property="id" column="id"/>-->
        <result property="email" column="email"/>
        <result property="username" column="username"/>
        <result property="passwordHash" column="password_hash"/>
        <result property="confirmed" column="confirmed"/>
        <result property="name" column="name"/>
        <result property="location" column="location"/>
        <result property="aboutMe" column="about_me"/>
        <result property="memberSince" column="member_since"/>
        <result property="lastSeen" column="last_seen"/>
        <result property="avatarHash" column="avatar_hash"/>
        <collection property="posts" ofType="info.ivicel.web.entity.Post">
            <result property="body" column="body"/>
            <result property="bodyHtml" column="bodyHtml"/>
            <result property="timestamp" column="timestamp"/>
            <result property="authorId" column="author_id"/>
            <association property="author" resultMap="BaseResultMap"/>
        </collection>
    </resultMap>

    <sql id="base_column">
        id, email, username, role_id, confirmed, `name`, location, about_me,
        member_since, last_seen, avatar_hash, password_hash
    </sql>

    <select id="findUserByUsername" resultMap="BaseResultMap">
        SELECT u.email, u.username, u.confirmed, u.name, u.location, u.about_me, u.member_since, u.last_seen, u.avatar_hash,
        p.body, p.body_html, p.timestamp, p.author_id
        FROM `posts` AS p JOIN `users` AS u ON p.author_id = u.id WHERE u.username = #{username}
        <!--SELECT-->
        <!--<include refid="base_column"/>-->
        <!--FROM users u, posts p WHERE username = #{username}-->
    </select>
    <select id="findUserById" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM users WHERE id = #{id}
    </select>
    <select id="findUserByEmail" resultMap="BaseResultMap">
        SELECT <include refid="base_column"/>
        FROM `users` WHERE `email` = #{email}
    </select>
</mapper>