<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.ivicel.tumoblog.admin.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="info.ivicel.tumoblog.admin.entity.Article">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="title_pic" jdbcType="VARCHAR" property="titlePic"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="origin" jdbcType="VARCHAR" property="origin"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="eye_count" jdbcType="INTEGER" property="eyeCount"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="Article">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="content_md" jdbcType="LONGVARCHAR" property="contentMd"/>
    </resultMap>

    <resultMap id="fullResultMap" extends="ResultMapWithBLOBs" type="article">
        <association property="category" columnPrefix="c_" javaType="Category">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
        <collection property="tags" ofType="Tag" columnPrefix="t_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, title_pic, author, origin, `state`, eye_count, publish_time, edit_time,
    create_time
    </sql>
    <sql id="Blob_Column_List">
        content, content_md
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="fullResultMap">
        select
            a.id, a.title, a.title_pic, a.author, a.origin, a.state, a.eye_count, a.publish_time,
            a.edit_time, a.create_time, a.content, a.content_md,
            c.id as c_id, c.name as c_name
        from `articles` as a inner join `category` as c on a.category_id = c.id
        where a.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="countById" parameterType="int" resultType="int">
        select count(1) from `articles` where id = #{id}
    </select>

    <select id="selectByPrimaryKeyFullMapping" parameterType="java.lang.Long" resultMap="fullResultMap">
        select
            a.id, a.title, a.title_pic, a.author, a.origin, a.state, a.eye_count, a.publish_time,
            a.edit_time, a.create_time, a.content, a.content_md,
            c.id as c_id, c.name as c_name
        from `articles` as a
        inner join `category` as c on a.category_id = c.id
        where a.id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from articles
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="info.ivicel.tumoblog.admin.entity.Article">
        insert into articles (id, title, title_pic,
                              author, origin, `state`,
                              eye_count, publish_time, edit_time,
                              create_time, content, content_md)
        values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{titlePic,jdbcType=VARCHAR},
                #{author,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
                #{eyeCount,jdbcType=INTEGER}, #{publishTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP},
                #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}, #{contentMd,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="info.ivicel.tumoblog.admin.entity.Article"
        useGeneratedKeys="true" keyProperty="id">
        insert into articles
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="titlePic != null">
                title_pic,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="origin != null">
                origin,
            </if>
            <if test="category != null">
                category_id,
            </if>
            <if test="state != null">
                `state`,
            </if>
            <if test="publishTime != null">
                publish_time,
            </if>
            <if test="true">
                edit_time,
            </if>
            <if test="true">
                create_time,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="contentMd != null">
                content_md,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="titlePic != null">
                #{titlePic,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="origin != null">
                #{origin,jdbcType=VARCHAR},
            </if>
            <if test="category != null">
                #{category.id, jdbcType=BIGINT},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="publishTime != null">
                #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="true">
                now(),
            </if>
            <if test="true">
                now(),
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentMd != null">
                #{contentMd,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="updateEyeCount">
        update `articles`
        set `eye_count` = (eye_count + 1)
        where id = #{id}
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="info.ivicel.tumoblog.admin.entity.Article"
        useGeneratedKeys="true" keyProperty="id">
        update articles
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="titlePic != null">
                title_pic = #{titlePic,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="origin != null">
                origin = #{origin,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                `state` = #{state,jdbcType=VARCHAR},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="contentMd != null">
                content_md = #{contentMd,jdbcType=LONGVARCHAR},
            </if>
            <if test="category != null">
                category_id = #{category.id}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="info.ivicel.tumoblog.admin.entity.Article">
        update articles
        set title        = #{title,jdbcType=VARCHAR},
            title_pic    = #{titlePic,jdbcType=VARCHAR},
            author       = #{author,jdbcType=VARCHAR},
            origin       = #{origin,jdbcType=VARCHAR},
            `state`      = #{state,jdbcType=VARCHAR},
            eye_count    = #{eyeCount,jdbcType=INTEGER},
            publish_time = #{publishTime,jdbcType=TIMESTAMP},
            edit_time    = #{editTime,jdbcType=TIMESTAMP},
            content      = #{content,jdbcType=LONGVARCHAR},
            content_md   = #{contentMd,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="info.ivicel.tumoblog.admin.entity.Article">
        update articles
        set title        = #{title,jdbcType=VARCHAR},
            title_pic    = #{titlePic,jdbcType=VARCHAR},
            author       = #{author,jdbcType=VARCHAR},
            origin       = #{origin,jdbcType=VARCHAR},
            `state`      = #{state,jdbcType=VARCHAR},
            eye_count    = #{eyeCount,jdbcType=INTEGER},
            publish_time = #{publishTime,jdbcType=TIMESTAMP},
            edit_time    = #{editTime,jdbcType=TIMESTAMP},
            create_time  = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findAllDesc" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>, content from articles
        order by `edit_time` desc limit #{offset}, #{num}
    </select>

    <select id="count" resultType="java.lang.Long">
        select count(1) from articles;
    </select>

    <select id="findAllWithCategory" resultMap="fullResultMap">
        select
            a.id, a.title, a.title_pic, a.author, a.origin, a.state, a.eye_count, a.publish_time,
            a.edit_time, a.create_time, a.content, a.content_md,
            c.id as c_id, c.name as c_name
        from `articles` as a
        left outer join `category` as c on a.category_id = c.id
        order by a.id desc
    </select>

</mapper>