<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info.ivicel.tumoblog.admin.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="info.ivicel.tumoblog.admin.entity.Category">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from category
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="info.ivicel.tumoblog.admin.entity.Category">
        insert into category (id, `name`)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="info.ivicel.tumoblog.admin.entity.Category"
        useGeneratedKeys="true" keyProperty="id">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="info.ivicel.tumoblog.admin.entity.Category">
        update category
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="info.ivicel.tumoblog.admin.entity.Category">
        update category
        set `name` = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findByName" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from category where `name` = #{name}
    </select>

    <select id="findAll" resultType="info.ivicel.tumoblog.admin.entity.Category">
        select <include refid="Base_Column_List"/> from category order by id asc;
    </select>
</mapper>