<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer class="bg-white" th:fragment="footer">
        <div class="footer-meta">
            <div class="footer-container">
                <div class="meta-item meta-copyright">
                    <div class="meta-copyright-info">
                        <a href="/" class="info-logo">
                            <img th:src="@{/static/lib/images/cat.jpg}" alt="Tumo Blog">
                        </a>
                        <div class="info-text">
                            <p>银河街角，时光路口.</p>
                            <p>Powered by <a href="#" target="_blank" rel="nofollow">Tumo</a>
                            </p>
                            <p>&copy; 2018 <a href="#">TyCoding</a></p>
                        </div>
                    </div>
                </div>
                <div class="footer-social">
                    <div class="footer-container clearfix">
                        <div class="social-list">
                            <a class="social weibo" target="blank" href="https://www.jianshu.com/u/5d9842cdf684">简书</a>
                            <a class="social zhihu" target="blank"
                               href="https://www.zhihu.com/people/tomo-83-82/activities">知乎</a>
                            <a class="social github" target="blank" href="https://github.com/TyCoding">Github</a>
                            <a class="social rss" target="blank" href="/">RSS</a>
                            <a class="social twitter" target="blank" href="https://twitter.com/">Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>