<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flasky - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap-theme.min.css}">
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/styles.css" th:href="@{/static/styles.css}">
</head>
<body>
    <th:block th:insert="nav.html"/>
    <div class="container">
        <div class="page-header">
            <h1>Login</h1>
        </div>
        <div class="col-md-4">
            <span th:text="${errorMessage}"></span>
            <form action="" method="post" class="form" role="form">
                <div class="form-group  required"><label class="control-label" for="email">Email</label>
                    <input class="form-control" id="email" name="email" required="" type="text" value="">
                </div>
                <div class="form-group  required"><label class="control-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" required="" type="password" value="">
                </div>
                <div class="checkbox">
                    <label>
                        <input id="remember_me" name="remember_me" type="checkbox" value="y"> Keep me logged in
                    </label>
                </div>
                <input class="btn btn-default" id="submit" name="submit" type="submit" value="Log In">
            </form>
            <br>
            <p>Forgot your password? <a href="/auth/reset" th:href="@{/auth/reset}">Click here to reset it</a>.</p>
            <p>New user? <a href="/auth/register" th:href="@{/auth/register}">Click here to register</a>.</p>
        </div>
    </div>
    <script src="/static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="/static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
</body>
</html>