<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{site/common/common_head :: commonHead(~{::title}, ~{::link})}">
    <title>404 Not Found</title>
    <link rel="stylesheet" th:href="@{/static/css/index.css}"/>
</head>
<body>
    <th:block th:insert="~{site/header :: header}"/>

    <div class="main-content clearfix">
        <img th:src="@{/static/img/404.gif}" alt="404 image">
    </div>

    <th:block th:replace="~{site/footer :: footer}"/>
    <th:block th:replace="~{site/common/onload_js :: onloadJS(_)}"/>
</body>
</html>